html {
    background-color: beige;
	font-family: cursive;
	font-size: 15px;
}
mainHeading {
    display: block;
    font-weight: bold;
	padding: 20px;
	text-align: center;
	font-size: 25px;
}
hint {
	color: gray;
	font-style: italic;
}
textarea {
    font-family: cursive;
    font-size: 15px;
}